services:
  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    environment:
      - DATABASE_URL=mysql://admin:aaaabbbb123@mysql:3306/menua
      - JWT_SECRET=amikom-21if02

  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: menua
      MYSQL_USER: admin
      MYSQL_PASSWORD: aaaabbbb123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./menua.sql:/docker-entrypoint-initdb.d/menua.sql

volumes:
  mysql_data:
