name: Build Before The Merge Backend to Staging

on:
  push:
    branches:
      - backend
  pull_request:
    branches:
      - staging

jobs:
  test-backend:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16, 18]  # Test against multiple Node.js versions

    steps:
      - uses: actions/checkout@v4  # Checkout code


      - name: Install dependencies
        working-directory: ./backend
        run: npm install